body {
  min-height: 100vh;
  background-image: linear-gradient(45deg, #974AB5, #B54A9E, #614AB5);
}
.ball {
  width: 80vw;
  height: 80vw;
  position: relative;
  background-color: black;
  border-radius: 50%;
  margin: 50px auto;
  background: radial-gradient(circle at 30% 30%, #242424, #000);
}

.number-eight {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.answer {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b274a;
  border-radius: 50%;
  border: 3px solid #1d2b52;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer img {
  width: 70%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .2;
  animation-delay: 3s;
  transition: opacity 3000ms;
}

.answer.show{
  display: block;
}

.form-title {
  text-align: center;
  margin-bottom: 50px;
}

.form {
  padding: 0px 15px;
}

.App{
  padding: 0px 10px;
}
.voice__button {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 3px #614AB5;
  cursor: pointer;
  margin-bottom: 30px;
}

.voice__button img {
  width: 100%;
  height: auto;
}

.input-group {
  position: relative;
}

.render-question {
  padding: 0px 10px;
  word-wrap: break-word;
}

.question__input {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px;
  box-sizing: border-box;
}

.submit__button {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
}

.reset__button {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
@media (min-width: 768px) {
  .ball {
    width: 50vw;
    height: 50vw;
  }
}

@media (min-width: 1024px) {
  .form {
    width: 60%;
    margin: 0px auto;
  }
  
  .ball {
    width: 30vw;
    height: 30vw;
  }

  .number-eight {
    font-size: 5rem;
    font-weight: bold;
  }

  .render-question {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 10px;
    word-wrap: break-word;
  }
  
  .question__input {
    margin-top: 50px;
  }

  .reset__button {
    width: 50%;
    margin: auto;
    display: block;
  }
}
